.top-10 {
	font-size: 23px;
	background: inherit;
	color: white;
	pointer-events: none;
	border: none;
	overflow: scroll;
	transform: translateX(50px);
}

.title {
	font-size: 50px;
	border-bottom: white solid 7px;
	margin-bottom: 60px;
}
